/*
* @Author: tangxu
* @Date:   2016-03-15 17:23:02
* @Last Modified by:   tangxu
* @Last Modified time: 2016-03-15 18:41:18
*/
#nav{
    width:800px;
    height:600px;
    margin:20px auto;
    border:solid #000 3px;
}

#nav a{
    display: inline-block;
    width:200px;
    height:200px;
    border:solid #ccc 3px;
    text-decoration:none;
    text-align: center;
    line-height: 200px;
    margin:50px 30px;
    float: left;
}