@charset "utf-8";
@charset "utf-8";
/*科e互联特效基本框架CSS*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
html{height:100%}
body { color: #333; text-align: center; font: 12px "微软雅黑";height:95% }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}
.clear{height:0; overflow:hidden; clear:both}
.button {display: inline-block;zoom: 1; *display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;font: 14px/100% Arial, Helvetica, sans-serif;padding:0.25em 0.6em 0.3em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em; -moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {color: #faddde;border: solid 1px #980c10;background: #d81b21;background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));background: -moz-linear-gradient(top,  #ed1c24,  #A51715);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top,  #c9151b,  #a11115); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); color:#fff;}
.red:active {color: #de898c;background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
.cor_bs,.cor_bs:hover{color:#ffffff;}
.keBody{background:url(../images/bodyBg.jpg) repeat #333;}
.keTitle{height:100px; line-height:100px; font-size:30px; font-family:'微软雅黑'; color:#FFF; text-align:center; background:url(../images/bodyBg3.jpg) repeat-x bottom left; font-weight:normal}
.kePublic{background:#FFF; background:url("../images/animebg.jpg") repeat scroll 50% 50% rgba(0, 0, 0, 0);}
.keBottom{color:#FFF; padding-top:25px; line-height:28px; text-align:center; font-family:'微软雅黑'; background:url(../images/bodyBg2.jpg) repeat-x top left; padding-bottom:25px}
.keTxtP{font-size:16px; color:#ffffff;}
.keUrl{color:#FFF; font-size:30px;}
.keUrl:hover{ text-decoration: underline; color: #FFF; }
.mKeBanner,.mKeBanner div{text-align:center;}
/*科e互联特效基本框架CSS结束，应用特效时，以上样式可删除*/
.t16{font-size:16px;}
.ml15{margin-left:15px;}
.mt10{margin-top:10px;}
.bold{font-weight:bold;}
.color444{color:#444444;}
.mt5{margin-top:5px;}

.box2{ background:none repeat scroll 0 0 #FFFFFF;overflow:hidden;border:1px solid #d4d2d2;width:1050px;margin:0px auto 0 auto;}
.main{clear:both;margin:0 auto;text-align:left;width:1050px;overflow:hidden;}
.banner_tit{border-bottom:1px solid #ebebeb;line-height:45px;font-family:"微软雅黑";font-size:18px;height:45px;padding-left:20px;position:relative;color:#222222;}
.role_fen{color:#FF4500;font-size:24px;font-family:Brush Script MT;}

.hot_role{width:1050px;overflow:hidden;}
#centerwell{position:relative;height:300px;margin:0;padding:0;background:#FFFFFF;overflow:hidden;width:1055px;}
#centerwell li{position:relative;width:100px;height:300px;float:left;border-right:#3d464e 1px solid;background:white;overflow:hidden;}
#centerwell h3{position:absolute;top:0;left:0;margin:0;width:100px;height:300px;background-color:#000000;position:relative;cursor:pointer;}
#centerwell .hot_content{
	position: absolute;
	left: 115px;
	top: 15px;
	width: 415px;
	color: #5f5f5f;
	letter-spacing: 0pt;
	font: 12px/22px GeogrotesqueMedium, Helvetica, Arial, sans-serif;
}
.hot_line{font-size:14px; line-height:24px;}
#centerwell h3 img{filter:alpha(opacity=30);opacity:0.3;float:left;width:100px;height:300px;}
#centerwell h3.on img{filter:alpha(opacity=100);opacity:1;}
#centerwell h3 .hot_title{display:block;position:absolute;z-index:10;left:0;bottom:0;width:72px;height:177px;color:#FFFFFF;text-align:center;}
#centerwell h3.on .hot_title{display:none;}
.hot_content .hot_left{float:left;}
.img_box{border:1px solid #000000;}
.hot_left img{height:170px;width:130px;}
.hot_content .hot_top{float:right;}
.hot_top dl{position:relative;}
.hot_top dl dt{float:left;}
.img_box{border:1px solid #000000;}
.hot_top dl dd{float:left;line-height:21px;padding-left:10px;width:260px;padding-right:10px;}